a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: black;
  max-width: 120px;
  margin-top: 10px;
  height: 20px;
  text-align: left;

  overflow: hidden;
  text-overflow: clip;
}

.container {
  display: flex;
  padding: 2.5px 0;
  text-align: center;
  overflow: hidden;
}

.subContainerIcon {
  display: inline-block;
  margin: 0 5px;

  button {
    vertical-align: middle;
  }
}

.subContainer {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
