.sidenav {
  min-width: 10vw;
}

.routingDiv {
  min-height: 97.5%;
}

.versionDiv {
  min-height: 2.5%;
  min-width: 100%;
}

.pageTitle {
  padding-left: 16px;
}

mat-sidenav-container {
  max-height: 92.5%;
  min-height: 92.5%;
}

mat-toolbar {
  max-height: 7.5%;
}

mat-sidenav-content {
  padding: 2.5%;
}
