.sidenav {
  overflow-x: hidden;
}

.mat-drawer-inner-container {
  overflow-x: hidden;
}

.routingDiv {
  min-height: 97.5%;
}

.versionDiv {
  min-height: 2.5%;
  min-width: 100%;
  text-align: center;
}

.pageTitle {
  padding-left: 16px;
}

mat-sidenav-container {
  height: 95%;
  padding-bottom: 5%;
}

mat-toolbar {
  top: 0;
  min-height: 50px;
  max-height: 50px;
  z-index: 1000;
  padding: 0 5px;
}

mat-sidenav-content {
  padding: 2.5%;
  height: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}
