<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="pageTitle">{{ this.pageService.pageTitle$.asObservable() | async }}</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" [@expandSidenav]="getStateName()" mode="side" [opened]="true" [fixedInViewport]="true" fixedTopGap="50">
    <div class="routingDiv">
      <app-page-link pageRoute="home" pageName="Home" icon="home" [iconOnly]="showOnlyIcon"></app-page-link>
      <app-page-link pageRoute="dashboard" pageName="Dashboard" icon="dashboard" [iconOnly]="showOnlyIcon"></app-page-link>
      <app-page-link pageRoute="messages" pageName="Messages" icon="email" [iconOnly]="showOnlyIcon"></app-page-link>
      <app-page-link pageRoute="charts" pageName="Charts" icon="bar_chart" [iconOnly]="showOnlyIcon"></app-page-link>
    </div>
    <div class="versionDiv" *ngIf="version$ | async as versionData">v{{ versionData.versionNumber }}</div>
  </mat-sidenav>

  <mat-sidenav-content [@shiftSidenavContent]="getStateName()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
